#include "windows.h"
#include "commctrl.h"
#include "resource.h"
IDD_TICTAC DIALOGEX 64,64,117,117
CAPTION "T O X IC"
FONT 8,"System"
MENU IDR_MENU
STYLE 0x80C800C0
EXSTYLE 0x00000000
BEGIN
//GROUPBOX "",IDC_STATIC,1,1,110,110
DEFPUSHBUTTON "",IDC_BUTTON1,5,5,32,32
DEFPUSHBUTTON "",IDC_BUTTON2,42,5,32,32
DEFPUSHBUTTON "",IDC_BUTTON3,79,5,32,32
DEFPUSHBUTTON "",IDC_BUTTON4,5,42,32,32
DEFPUSHBUTTON "",IDC_BUTTON5,42,42,32,32
DEFPUSHBUTTON "",IDC_BUTTON6,79,42,32,32
DEFPUSHBUTTON "",IDC_BUTTON7,5,79,32,32
DEFPUSHBUTTON "",IDC_BUTTON8,42,79,32,32
DEFPUSHBUTTON "",IDC_BUTTON9,79,79,32,32
END
IDR_MENU MENUEX
BEGIN
POPUP "&Game",IDC_STATIC
BEGIN
MENUITEM "&New Game",IDM_NEW
MENUITEM "E&xit",IDM_EXIT
END
POPUP "&Help",IDC_STATIC
BEGIN
MENUITEM "About...",IDM_ABOUT
END
END
1                  RT_MANIFEST    ".\\manifest.xml"
